{% extends 'base.html.twig'%}

{% block title %}Page d'accueil{% endblock %}

{% block stylesheet %}
    {# <link rel="stylesheet" href="{{ asset('css/home.css') }}"> #}
{% endblock %}

{% block body %}
    <h1>Page d'accueil</h1>
{% endblock %}
